/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


* {
	--FirstColor: #1e8250;
	--SecondColor: #7ae58c;
	--GreyColor: #c1c5c8;
}